.crypto-table{
    background: linear-gradient(rgba(84,3,255,0.15),rgba(102,2,153,0.15));
    border-radius: 15px;

}
.table-layout{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #3c3c3c;
}
.table-layout:last-child{
    border: none;
}
.table-layout div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.table-layout div img{
    width: 30px;
}